.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; /* 定位参考基准 */
  height: 70px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 0.1rem 0.1rem rgb(0 0 0 / 10%);
  overflow: hidden;
  padding: 10px;
  padding-inline: 30px;
  transition: all 0.5s;
  color: #000000;
}
/* -- menu-container style -- */
.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  .menu-item {
    margin-inline: 10px;
    font-family: "HarmonyOS Sans", sans-serif;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    /* 确保不影响点击事件 */
    pointer-events: auto;
    /* 禁止用户选中 */
    user-select: none;
    /* 下划线样式 */
    background: linear-gradient(to right, #9b9b9b, #9b9b9b) no-repeat right bottom;
    background-size: 0 2px;
    transition: background-size .2s;

  }

  .menu-item:hover {
    background-position: left bottom;
    background-size: 100% 2px;
  }

  /* 被激活时的样式 */

  .menu-item.active {
    /* 下划线样式 */
    background: linear-gradient(to right, #9b9b9b, #9b9b9b) no-repeat right bottom;
    background-size: auto 2px;
  }
}
.header:hover {
  background-color: #fff;
}
